<div class="container">
    <div class="row">
      <div class="col -md-6">
        <div>
          <img src="{{ userProfile.avatar_url }}" alt="avatar">
        </div>
             
        <div class="bioData">
          <h5>Username : {{ userProfile.login }}</h5>
          <p><strong> Followers : {{ userProfile.followers }}       Following: {{userProfile.following}}</strong></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="intro">
          <p>Search Github Profile:</p>
        </div>
        <app-search-form (searchProf)="searchUser($event)"></app-search-form>
      </div>
    </div>
    
    <h3 class="text-center">Repositories</h3>
    
    <div *ngFor="let repo of userRepo">
        
      <div class="card" appHover>
        <h4 class="card-title">{{ userRepo.name }}</h4>
        <p class="repo">{{ userRepo.description }}</p>
        <p>Created {{ repo.created_at|dateCount}}</p>
        <a target="_blank" class=" btn btn-info text-white" href="{{ repo.html_url }}">View Project</a>
      </div>
    </div>
  </div>
    
  