<div class="container">
    <div class="row">
      <div class="col -md-6">
        <div>
          <img src="{{ userProfile.avatar_url }}" alt="avatar">
        </div>
             
        <div class="bioData">
          <h5>Username : {{ userProfile.login }}</h5>
          <p><strong> Followers : {{ userProfile.followers }}       Following: {{userProfile.following}}</strong></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="intro">
          <p>GitHub-search application offers a simple and easy way to search for GitHub users. All you need is their username and you will be able to view their public repositories.</p>
        </div>
        <app-search-form (searchProf)="searchUser($event)"></app-search-form>
      </div>
    </div>
    
    <h3 class="text-center">Repositories</h3>
    
    <div *ngFor="let repo of userRepo">
        
      <div class="card" appHighlight>
        <h4 class="card-title">{{ userRepo.name }}</h4>
        <p class="">{{ userRepo.description }}</p>
        <a target="_blank" class=" btn btn-primary text-white" href="{{ repo.html_url }}">View Project</a>
      </div>
    </div>
  </div>
    
  